cpe_nodes:
  {{ cpe_routers | to_nice_yaml }}
{# 
{% for host in cpe_routers %}
{{host}}
{% for cpe_name, cpe_data in host['item'].items() %}
  {{cpe_name}}:
 
    routerid: {{cpe_data['routerid']}}
    mgmt: {{cpe_data['mgmt']}}
    interfaces:    
{% for intf_name, intf_data in cpe_data['interfaces'].items() %}
      {{intf_name}}:
        ip: {{intf_data['ip']}}
        cost: {{intf_data['cost']}}
        service_type: {{intf_data['service_type']}}
{% endfor %}
{% endfor %}
{% endfor %}
#}