---
- get_interfaces_ip:
{% for service_type, service_vrfs in services['l3vpn'].items() %}
{% for vrf in service_vrfs %}
{% for site in vrf['sites'] %}
{% for link in site['links'] %}
{% if link['b_end'] == inventory_hostname %}
    {{link['b_end_intf']}}:
      ipv4:
        {{link['wan_ip_pfx'] | ipaddr('2') | ipaddr('address')}}:
          prefix_length: 30
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}