[defaults]
inventory=./hosts
gathering=explicit
library = /usr/local/lib/python2.7/dist-packages/napalm_ansible/modules
action_plugins = /usr/local/lib/python2.7/dist-packages/napalm_ansible/plugins/action
callback_whitelist = json, set_stats, dense, callback_onfail
show_custom_stats = yes
#stdout_callback = callback_onfail
