
{% for vpn_type, vpn_data in services.items() %}
{% if vpn_type == 'l3vpn' %}
{#--------VRF DEFINITION-------------#}
{% for service_type, service_vrfs in vpn_data.items() %}
{% for vrf in service_vrfs %}
{% if vrf['state'] == 'touch' %}
ip vrf {{ vrf['vrf_name'] }}
 rd {{ nodes[inventory_hostname]['routerid'] }}:{{ vrf['rd'] }}
{% for rt_in in vrf['rt_import']  %}
 route-target import {{ rt_in }}
{% endfor %}
{% for rt_out in vrf['rt_export']  %}
 route-target export {{ rt_out }}
{% endfor %}
{% elif vrf['state'] == 'absent' %}
no ip vrf {{ vrf['vrf_name'] }}
{% endif %}
{% endfor %}
!
{% endfor %}
{#--------END VRF DEFINITION-------------#}
{#--------VRF INTERFACES-------------#}
{% for service_type, service_vrfs in vpn_data.items() %}
{% for vrf in service_vrfs %}
{% if vrf['state'] == 'touch' %}
{% if service_type == 'wan' %}
{% for site in vrf['sites'] %}
{% for link in site['links'] %}
{% if link['b_end'] == inventory_hostname %}
interface {{ link['b_end_intf'] }}
 description WAN L3VPN service for {{ vrf['customer'] }} site: {{ site['site_name'] }}
 ip vrf forwarding {{ vrf['vrf_name'] }}
 ip address {{ link['wan_ip_pfx'] | ipaddr('2') | ipaddr('address') }} 255.255.255.252
 negotiation auto
!
{% endif %}
{% endfor %}
{% endfor %}
{% elif service_type == 'internet' %}
{% for site in vrf['sites'] %}
{% for link in site['links'] %}
{% if link['b_end'] == inventory_hostname %}
interface {{ link['b_end_intf'] }}
 description WAN L3VPN service for {{ site['customer'] }} site: {{ site['site_name'] }}
 ip vrf forwarding {{ vrf['vrf_name'] }}
 ip address {{ link['wan_ip_pfx'] | ipaddr('2') | ipaddr('address') }} 255.255.255.252
 negotiation auto
!
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{#--------END VRF INTERFACES-------------#}
{#----------------BGP VRF----------------#}
router bgp {{ nodes[inventory_hostname]['asn'] }}
{% for service_type, service_vrfs in vpn_data.items() %}
{% for vrf in service_vrfs %}
{% if vrf['state'] == 'touch' %}
{% if service_type == 'wan' %}
{% for site in vrf['sites'] %}
{% for link in site['links'] %}
{% if link['b_end'] == inventory_hostname %}
 address-family ipv4 vrf {{ vrf['vrf_name'] }}
  redistribute connected
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} remote-as {{ vrf['remote_asn'] }}
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} description WAN L3VPN service for {{ vrf['customer'] }} site: {{ site['site_name'] }}
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} soft-reconfiguration inbound
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} activate
 exit-address-family  
{% endif %}
{% endfor %}
{% endfor %}
{% elif service_type == 'internet' %}
{% for site in vrf['sites'] %}
{% for link in site['links'] %}
{% if link['b_end'] == inventory_hostname %}
 address-family ipv4 vrf {{ vrf['vrf_name'] }}
  redistribute connected
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} remote-as {{ site['asn'] }}
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} description INTERNET L3VPN service for {{ site['customer'] }} site: {{ site['site_name'] }}
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} soft-reconfiguration inbound
  neighbor {{ link['wan_ip_pfx'] | ipaddr('1') | ipaddr('address') }} activate
 exit-address-family
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{#------------END BGP VRF ----------------#}
{% endif %}
{% endfor %}
