{# {% node = nodes[inventory_hostname] %} #}
{% for vrf_name, vrf in nodes[inventory_hostname]['vrfs'].items(): %}
{% if vrf['vrf_interfaces']: %}
ip vrf {{ vrf_name }}
 rd {{ nodes[inventory_hostname]['routerid'] }}:{{ vrf['rd'] }}
{% for rt_in in vrf['rt_import']  %}
 route-target import {{ rt_in }}
{% endfor %}
{% for rt_out in vrf['rt_export']  %}
 route-target export {{ rt_out }}
{% endfor %}
{% endif %}
{% endfor %}

{% for vrf_name, vrf in nodes[inventory_hostname]['vrfs'].items(): %}
{% if vrf['vrf_interfaces']: %}
{% for intf_name, intf in vrf['vrf_interfaces'].items() %}
router bgp {{ nodes[inventory_hostname]['asn'] }}
 address-family ipv4 vrf {{ vrf_name }}
  neighbor {{ intf['ip'] | ipaddr('1') | ipaddr('address') }} remote-as {{ intf['remote_asn'] }}
  neighbor {{ intf['ip'] | ipaddr('1') | ipaddr('address') }} activate
 exit-address-family
{% endfor %}
{% endif %}
{% endfor %}

{% for vrf_name, vrf in nodes[inventory_hostname]['vrfs'].items(): %}
{% if vrf['vrf_interfaces']: %}
{% for intf_name, intf in vrf['vrf_interfaces'].items() %}
interface {{ intf_name }}
 description {{ intf['description'] }} 
 ip vrf forwarding {{ vrf_name }}
 ip address {{ intf['ip'] | ipaddr('address') }} 255.255.255.252
 negotiation auto
{% endfor %}
{% endif %}
{% endfor %}