{% for snmp_server in snmp['servers'] %}
snmp-server host {{snmp_server}} traps version 2c {{snmp['community']}}
{% endfor %}
snmp-server community {{snmp['community']}} RO SystemOwner
snmp-server trap-timeout 3
snmp-server trap-source Loopback0
